h4 {
	font-size: 1.9rem;
	line-height: 1.5rem;
}

h5 {
	font-family: 'Open Sans';
}

p {
	font-family: 'Open Sans'
}

a {
	color: #017eba;
}

h2 {
	text-transform: uppercase;
	font-family: "Varela Round", "Arial", "Helvetica", sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
}

h3 {
	font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
	font-size: 1rem;
}

a h3 {
	color: #017eba;
}

span.tabulation {
	margin-left: 20px;
}

/*.row {
 	max-width: 100%;
}*/

.pumpkin {
	color: #ff5a00;
	font-weight: bold;
}


button, .button {
	text-transform: uppercase;
	font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.4rem;
	border-radius: 2px;
	padding: 1.8rem 4rem 1.8625rem;
}


/*								HEADER						*/

.header, .member-header {
	background: #333;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: cover;
	color: #fff;
	max-width: 100%;
	border-bottom: solid 5px #ff5a00;
}

.header  {
	height: 250px;
	background: url(/img/header_001.jpg) no-repeat center center;
}

.header .logo {
	margin-top: 0;
	text-align: center;
}

.member-header .logo {
	text-align: center;
}

.logo h1 {
	margin-top: 7px;
	padding-left: 0;
	font-family: 'Lobster', cursive;
	font-size: 38px;
	font-weight: 400;
	color: #fff;
}

.logo a {
	color: #fff;
	text-decoration: none;
	-o-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-ms-transition: all .2s;
}

.logo a:hover {
	color: #ff5a00;
}

.logo h1 span {
	color: #ff5a00;
}

.title {
	text-align: center;
}

.title div {
	vertical-align: middle;
	display: inline-block;
	line-height: 1.2;
}

.title h1 {
	border-bottom: solid;
	font-size: 1.2rem;
}

.title h1, .title span {
	color: #fff;
}

.member-header .title h1 {
	font-size: 1.5rem;
	border-bottom: none;
}

.member-header .subtitle {
	display: none;
}

.navig {
	text-align: center;
	margin-top: 20px;
}

.info_btn {
	vertical-align: middle;
	position: relative;
	line-height: 50px;/*
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color: #017eba;*/
	transition: background-color 300ms ease-out;
}

.info_btn:hover, .info_btn:focus {
    /*background-color: #007095;*/
}

.member-header .info_btn {
	line-height: 60px;
}

.info_btn img {
	width: 50px;
}

.header title {
	line-height: 250px;
}

/*	end-HEADER	*/





/*						FEATURED									*/



.featured {
	text-align: center;
	border-bottom: solid 1px #dadada;
	padding-bottom: 30px;
	margin-top: 30px;
}

.sidepanel {
	background-color: #eaeaea;
}

.sidepanel div {
	margin-top: 10px;
	margin-bottom: 10px;
}

.sidepanel .button {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.toppanel {
	border-top: solid 1px #a7a7a7;
	border-bottom: solid 1px #a7a7a7;
}

.secondbanner {
	background-color: #d9d9d9;
}

.footer {
	max-width: 100%;
	background-color: #333;
	color: #fff;
	font-family: "Open Sans", "Arial", "Helvetica, sans-serif";
}

.inner {
	max-width: 62.5rem;
	margin: auto;
}

.footer_1mile ul, .footer_rca ul {
	list-style: none;
	margin-left: 0;
	font-size: 0.8rem;
}

.footer i {
	margin-right: 5px;
}

.footer a {
	color: #fff;
}




/* --	ANNOUNCEMENTS	-- */
.announcements {
	margin: 10px 0 0;
	padding: 20px 0 0;
}

.announcement_item {
	position: relative;
	border-bottom: solid 1px #dadada;
	margin: 10px 0 0;
	padding-bottom: 10px;
}

.announcement_item:last-of-type {
	padding-bottom: 20px;
	border-bottom: none;
}

.announcement_item .announcement_date {
	right: 0;
	top: 0;
	position: absolute;
}

.announcement_item .readmore_link, .announcement_archive_link {
	margin-right: 0;
	float: right;
	position: relative;
	bottom: 20px;
	font-weight: bold;
	font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
	font-size: 0.8rem;
}

.announcement_text {
	font-size: 0.8rem;
}

.events {
	margin: 30px 0;
	border-bottom: solid 1px #dadada;
	padding-bottom: 30px;
}

.select-style {
	padding: 0;
    margin: 0 0 10px;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    overflow: hidden;
    background-color: #f1f0f0;
    background: #f1f0f0 url("/img/select_arrow.png") no-repeat 100% 50%;
}

.select-style:hover {
	background: #f1f0f0 url("/img/select_arrow.png") no-repeat 100% 50%;
}


/* -- 	MEMBERS LIST 	-- */

.select-style select {
	color: #333333;
	font-family: "Varela Round", "Arial", "Helvetica", sans-serif;
	font-size: 1rem;
	padding: 5px 8px;
	margin-bottom: 5px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

_:-moz-tree-row(hover), .select-style select {
	width: 105%;
}

.select-style select:hover {
	background: transparent;
}

select option:not(:first-child) {
	color: #9d9d9d;
}

select option:first-of-type {
	text-transform: uppercase;
}

.select-style select:focus {
    outline: none;
}



.boxes_list {
	list-style: none;
	margin-left: 0;
	text-align: center;
	position: relative;
	/*left: -50%;*/
}

.box_item {
	float: left;
	margin-bottom: 10px;
	position: relative;
}

.box_item:hover {
	background: radial-gradient(white, #d9d9d8, #a0a0a0);
	position: relative;
}

.box_item:hover a:after {
	content: url(/img/icon_plus.png);
	top: 10%;
	left: 25%;
	position: absolute;
}

.box_item:not(:first-of-type) {
	/*margin-left: 10px;*/
}

.box_item a>div {
	width: 190px;
	height: 200px;
	border: solid 1px #dadada;
	text-align: center;
	color: #fff;
	position: relative;
	display: inline-block;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.box_logo {
	vertical-align: 10%;
}

.caption {
	background-color: #017eba;
	bottom: 0;
	position: absolute;
	width: 100%;
	height: 70px;
	text-align: center;
}

.caption h3, .caption span {
	color: #fff;
	text-transform: uppercase;
	font-family: "Varela Round", "Arial", "Helvetica", sans-serif;
	margin-bottom: 15px;
}

.caption span {
	font-size: 0.7rem;
	line-height: 0.8rem;
	display: block;
}

.boxes_section .viewall {
	text-align: center;
}

.viewall .button {
	width: 100%;
	padding: 1rem 2rem 1.0625rem;
}




/*				PROFILE				*/

.cover-container {
	text-align: center;
}

.cover {
	overflow: hidden;
	position: relative;
	margin-top: 30px;
	display: inline-block;
	border: solid 4px white;
	max-width: 100%;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.cover img {
	max-width: 100%;
	width: 100%;
	position: relative;
	height: auto;
	vertical-align: middle;
}

.profile-pic {
	text-align: center;
	position: relative;
	height: 150px;
}

.profile-pic img {
	vertical-align: middle;
}

.top-icon {
	padding: 40px 0;
}

.profile-infos {
	text-align: center;
}

.profile-infos, .profile-description, .profile-contact {
	padding-bottom: 20px;
	font-family: "Varela Round", "Arial", "Helvetica", sans-serif;
}

.profile-name {
	font-size: 1.3rem;
}

.profile-category, .profile-location, .profile-phone {
	font-size: 1.1rem;
	line-height: normal;
}

.profile-description, .profile-contact {
	border: none;
	margin-top: 20px;
}

.profile-description div div:nth-child(2) {
	border-top: solid 1px #dadada;
	border-bottom: solid 1px #dadada;
	padding-bottom: 20px;
}

.profile-description [class*="foundicon"]:before {
	font-size: 3rem;
	display: block;
	text-align: center;
}

.profile-description p, .profile-description ul {
	font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
}

.profile-description p small {
	font-size: 80%;
}

.profile-hours {
	border: none;
}

.profile-hours tr:nth-of-type(even) {
	background: none;
}

.social-icons {
	text-align: center;
	padding: 20px 0;
}

.social-icons a {
	display: inline-block;
}

/*.profile-description .social-icon [class*="foundicon"]:before {
	font-size: 1.8rem;
}*/

.profile-products {
	max-width: 100%;
	background-color: #dadada;
	padding: 40px 0;
	text-align: center;
	position: relative;
}

.products-item {
	margin: 5px 0;
}

.products-item img {
	background-color: #fff;
	padding: 5px;
	box-shadow: 2px 2px 5px #888888;
	position: relative;
}

.profile-contact input[type="text"], .profile-contact input[type="email"], .profile-contact textarea, .profile-contact .postfix {
	margin-top: 10px;
}

.profile-contact button {
	font-size: 1rem;
	line-height: 1.4rem;
	border-radius: 2px;
	padding: 1rem 2rem 1.0625rem;
}

.profile-map {
	max-width: 100%;
}

.bigmap {
	width: 100%;
	background-color: #717074;
	height: 500px;
}


@media only screen and (min-width: 64.063em) {

	.logo h1 {
		padding-left: 50px;
	}

	.header .logo {
		margin-top: 50px;
	}

	.member-header {
		height: 70px;
	}

	.title h1 {
		font-size: 2.2rem;
	}

	.cover {
		height: 282px;
	}

	.profile-infos {
		text-align: left;
	}

	.info_btn {
		line-height: 200px
	}

	.info_btn img {
		width: auto;
	}

	.member-header .info_btn img {
		width: 50px;
	}

	.navig {
		margin-top: 0;
	}

	.profile-hours td {
		font-size: 0.8rem;
	}

	.profile-description div div:nth-child(2) {
		border-left: solid 1px #dadada;
	}
}

@media only screen and (min-width: 40.063em) {
	.logo h1 {
		padding-left: 0;
	}

	.header .title {
		margin-top: 50px;
	}

	.member-header .title h1 {
		margin-top: 20px;
	}

	/*.cover img {
		top: -50%;
	}*/

	.profile-description div div:nth-child(2) {
		border-right: solid 1px #dadada;
		border-top: none;
		border-bottom: none;
	}

}