h4 {
	font-size: 1.9rem;
	line-height: 1.5rem;
}

h5 {
	font-family: 'Open Sans';
}

p {
	font-family: 'Open Sans'
}

a {
	color: #017eba;
}

h2 {
	text-transform: uppercase;
	font-family: "Varela Round", "Arial", "Helvetica", sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
}

h3 {
	font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
	font-size: 1rem;
}

a h3 {
	color: #017eba;
}

span.tabulation {
	margin-left: 20px;
}

/*.row {
 	max-width: 100%;
}*/


button, .button {
	text-transform: uppercase;
	font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.4rem;
	border-radius: 2px;
	padding: 1.8rem 4rem 1.8625rem;
}

.header {
	background: url(/img/header_001.jpg) no-repeat center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: cover;
	height: 250px;
	color: #fff;
	max-width: 100%;
}

.title {
	text-align: center;
	line-height: 250px;
}

.title div {
	vertical-align: middle;
	display: inline-block;
	line-height: 1.2;
}

.title h1 {
	border-bottom: solid;
}

.title h1, .title span {
	color: #fff;
}

.navig {
	text-align: center;
}

.info_btn {
	vertical-align: middle;
	position: relative;
	line-height: 200px;
	transition: background-color 300ms ease-out;
}

 .info_btn:hover, .info_btn:focus {
    background-color: #007095; }

.topbanner {
	text-align: center;
	margin: 10px 0;
}

.content {
	/*border: solid 1px #a7a7a7;*/
}

.leftcontent {
	/*border-right: solid 1px #a7a7a7;*/
	padding-right: 0.9375rem;
}

.featured {
	text-align: center;
	border-bottom: solid 1px #dadada;
	padding-bottom: 30px;
	margin-top: 30px;
}

.sidepanel {
	background-color: #eaeaea;
}

.sidepanel div {
	margin-top: 10px;
	margin-bottom: 10px;
}

.sidepanel .button {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.toppanel {
	border-top: solid 1px #a7a7a7;
	border-bottom: solid 1px #a7a7a7;
}

.secondbanner {
	background-color: #d9d9d9;
}

.footer {
	max-width: 100%;
	background-color: #333;
	color: #fff;
	font-family: "Open Sans", "Arial", "Helvetica, sans-serif";
}

.inner {
	max-width: 62.5rem;
	margin: auto;
}

.footer_1mile ul, .footer_rca ul {
	list-style: none;
	margin-left: 0;
	font-size: 0.8rem;
}

.footer i {
	margin-right: 5px;
}




/* --	ANNOUNCEMENTS	-- */
.announcements {
	margin: 10px 0 0;
	padding: 20px 0 0;
}

.announcement_item {
	position: relative;
	border-bottom: solid 1px #dadada;
	margin: 10px 0 0;
	padding-bottom: 10px;
}

.announcement_item:last-of-type {
	padding-bottom: 20px;
	border-bottom: none;
}

.announcement_item .announcement_date {
	right: 0;
	top: 0;
	position: absolute;
}

.announcement_item .readmore_link, .announcement_archive_link {
	margin-right: 0;
	float: right;
	position: relative;
	bottom: 20px;
	font-weight: bold;
	font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
	font-size: 0.8rem;
}

.announcement_text {
	font-size: 0.8rem;
}

.events {
	margin: 30px 0;
	border-bottom: solid 1px #dadada;
	padding-bottom: 30px;
}


/* -- 	MEMBERS LIST 	-- */

select {
	 
}



.boxes_list {
	list-style: none;
	margin-left: 0;
	text-align: center;
	position: relative;
	/*left: -50%;*/
}

.box_item {
	float: left;
	margin-bottom: 10px;
	position: relative;
	/*left: 50%;*/
}

.box_item:not(:first-of-type) {
	/*margin-left: 10px;*/
}

.box_item a>div {
	width: 190px;
	height: 200px;
	border: solid 1px #dadada;
	text-align: center;
	color: #fff;
	position: relative;
	display: inline-block;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.box_logo {
	vertical-align: 10%;
}

.caption {
	background-color: #017eba;
	bottom: 0;
	position: absolute;
	width: 100%;
	height: 70px;
	text-align: center;
}

.caption h3, .caption span {
	color: #fff;
	text-transform: uppercase;
	font-family: "Varela Round", "Arial", "Helvetica", sans-serif;
	margin-bottom: 15px;
}

.caption span {
	font-size: 0.7rem;
	line-height: 0.8rem;
	display: block;
}

.boxes_section .viewall {
	text-align: center;
}

.viewall .button {
	width: 100%;
	padding: 1rem 2rem 1.0625rem;
}




/*				PROFILE				*/
.cover {
	height: 282px;
	overflow: hidden;
	position: relative;
}

.cover img {
	max-width: 100%;
	width: 100%;
	position: relative;
	height: auto;
	vertical-align: middle;
	top: -50%;
}

.profile-pic {
	text-align: center;
	position: relative;
	height: 150px;
}

.profile-pic img {
	vertical-align: middle;
}

.profile-infos, .profile-description, .profile-contact {
	margin-top: 20px;
	border-bottom: solid 1px #dadada;
	padding-bottom: 20px;
	font-family: "Varela Round", "Arial", "Helvetica", sans-serif;
}

.profile-name {
	font-size: 1.5rem;
}

.profile-category, .profile-location, .profile-phone {
	font-size: 1.1rem;
	line-height: normal;
}

.profile-description, .profile-contact {
	border: none;
}

.profile-description p, .profile-description ul {
	font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
}

.profile-hours {
	border: none;
}

.profile-hours tr:nth-of-type(even) {
	background: none;
}

.profile-products {
	max-width: 100%;
	background-color: #dadada;
	padding: 40px 0;
	text-align: center;
	position: relative;
}

.products-item {
	margin: 5px 0;
}

.products-item img {
	background-color: #fff;
	padding: 5px;
	box-shadow: 2px 2px 5px #888888;
	position: relative;
}

.profile-contact input[type="text"], .profile-contact input[type="email"], .profile-contact textarea, .profile-contact .postfix {
	margin-top: 10px;
}

.profile-contact button {
	font-size: 1rem;
	line-height: 1.4rem;
	border-radius: 2px;
	padding: 1rem 2rem 1.0625rem;
}

.profile-map {
	max-width: 100%;
}

.bigmap {
	width: 100%;
	background-color: #717074;
	height: 400px;
}


@media only screen and (min-width: 64.063em) {
	/*.leftcontent {
		width: 700px;
	}

	.rightcontent {
		width: 100%;
	}

	.sidepanel {
		width: 310px;
	}*/
}